<div class="dashboard">
    <!-- navbar -->
   <div class="nav-1">
      <h1 class="logo">LOGO</h1>
   </div>
   <div class="nav-2">
    <img src="assets/search.svg" alt="Search Icon" class="search-icon">
    <span class="search-text">Search Here</span>
    <img src="../../assets/filters.svg" alt="Filter Icon" class="filter-icon">
    <span class="filter-text">Filters</span>
  </div>
  <div class="nav-3">
    <h1 class="head">Become a Seller</h1>

  </div>
  <!-- navbar -->
  <!-- conatine1 -->
  <div class="container-1">
    <img src="../../assets/home.svg" alt="Home Icon" class="Home-icon">
    <span class="Home-text">Home</span>
    <img src="../../assets/notification.svg" alt="notification Icon" class="notification-icon">
    <span class="notification">Notification</span>
    <img src="../../assets/heart.svg" alt="Heart Icon" class="Heart-icon">
    <span class="Heart-text">Shop</span>
    <img src="../../assets/message.svg" alt="message Icon" class="message-icon">
    <span class="message-text">Conversation</span>
    <img src="../../assets/message@2x.png" alt="wallet Icon" class="wallet-icon">
    <span class="wallet-text">Wallet</span>
    <img src="../../assets/favorite.svg" alt="subscription Icon" class="favorite-icon">
    <span class="favorite-text">Subscription</span>
    <img src="../../assets/profile.svg" alt="Profile Icon" class="profile-icon">
    <span class="profile-text">My Profile</span>
    <img src="../../assets/setting.svg" alt="Setting Icon" class="setting-icon">
    <span class="setting-text">Settings</span>
    <img src="../../assets/logout.svg" alt="logout Icon" class="logout-icon">
    <span class="logout-text" (click)="logout()">Log Out</span>
    


<div>
    <!-- conatine1 -->
    <!-- conatiner 2 -->
    <div class="main-container2">
        <div class="container-2">
            <img src="../../assets/icon2.png" alt="Icon" class="icon">
            <span class="icon-text">Lara Leones</span>
            <span class="wallart">&#64;thewallart</span>
            <img src="../../assets/threed.jpg" alt="three" class="three">
            <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout <span class="read">Read More</span>.</p>
            <img src="../../assets/main1.jpg" alt="main1" class="main1">
            <hr>
            <div class="inner">
                <img src="../../assets/heart (1).svg" alt="like" class="like">
                <span class="like-count">9.8k</span>
                <img src="../../assets/comment.svg" alt="comment" class="comment">
                <span class="comment-count">8.6k</span>
                <img src="../../assets/share.svg" alt="share" class="share">
                <span class="share-count">7.2k</span>
            </div>
        </div>
        <br>
        <div class="container-2">
            <img src="../../assets/icon4.png" alt="Icon" class="icon">
            <span class="icon-text1">Thomas J</span>
            <span class="wallart1">&#64;thewallart</span>
            <img src="../../assets/threed.jpg" alt="three" class="three1">
            <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout <span class="read">Read More</span>.</p>
            <img src="../../assets/main4.png" alt="main1" class="main1">
            <hr>
            <div class="inner">
                <img src="../../assets/heart (1).svg" alt="like" class="like">
                <span class="like-count">9.8k</span>
                <img src="../../assets/comment.svg" alt="comment" class="comment">
                <span class="comment-count">8.6k</span>
                <img src="../../assets/share.svg" alt="share" class="share">
                <span class="share-count">7.2k</span>
            </div>
            <div class="vertical-images">
                <img src="../../assets/img1.png" alt="Image 40" class="image38">
            </div>
            <!-- <div class="vertical-text">
                <span class="des3">Modern Wall Decor Framed Painting</span>
                <span class="cost3">$199.99</span>
            </div> -->
            <div class="rating3">
                <img src="../../assets/star@2x.png" alt="Star" class="star">
                <img src="../../assets/star@2x.png" alt="Star" class="star">
                <img src="../../assets/star@2x.png" alt="Star" class="star">
                <img src="../../assets/star@2x.png" alt="Star" class="star">
                <img src="../../assets/star@2x.png" alt="Star" class="star">
            </div>
      
        <div class="vertical-images">
            <img src="../../assets/Image 40@2x.png" alt="Image 40" class="image40">
        </div>
        <div class="vertical-text">
            <span class="des">Modern Wall Decor Framed Painting</span>
            <span class="cost">$199.99</span>
        </div>
        <div class="rating">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
        </div>
        <div class="vertical-images">
            <img src="../../assets/Image 39@2x.png" alt="Image 40" class="image39">
        </div>
        <div class="vertical-text2">
            <span class="des1">Modern Wall Decor Framed Painting</span>
            <span class="cost1">$199.99</span>
        </div>
        <div class="rating1">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
        </div>
        <div class="vertical-images">
            <img src="../../assets/imag3.png" alt="Image 40" class="image41">
        </div>
        <div class="vertical-text4">
            <span class="des4">Modern Wall Decor Framed Painting</span>
            <span class="cost4">$199.99</span>
        </div>
        <div class="rating4">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
            <img src="../../assets/star@2x.png" alt="Star" class="star">
        </div>
    </div>
</div>
    


  

  

  
 
  <!-- conatiner3 -->
  <div class="container-3">
    <h1 class="art">Artists</h1>
    <h1 class="photo">Photographers</h1>
    <div class="content-container">
        <div class="imgmain">
            <div class="image-container">
                <img src="../../assets/img1.png" alt="share" class="img">
                <img src="../../assets/image11.png" alt="share" class="img1">
                <div class="dot"></div> 
                <h1 class="img1-text">Thomas Edward</h1>
                <span class="img1-des">&#64;thewildwithyou</span>
            </div>
            
            <img src="../../assets/img2.png" alt="share" class="img2">
            <img src="../../assets/img22.png" alt="share" class="img22">
            <div class="dot2"></div> 
            <h1 class="img2-text">Chris Doe</h1>
            <span class="img2-des">&#64;thewildwithyou</span>

            <img src="../../assets/imag3.png" alt="share" class="img3">
            <img src="../../assets/img33.png" alt="share" class="img33">
            <div class="dot3"></div> 
            <h1 class="img3-text">Emilie Jones</h1>
            <span class="img3-des">&#64;thewildwithyou</span>

            <img src="../../assets/img4.png" alt="share" class="img4">
            <img src="../../assets/img44.png" alt="share" class="img44">
            <div class="dot4"></div> 
            <h1 class="img4-text">Jessica Williams</h1>
            <span class="img4-des">&#64;thewildwithyou</span>

            <img src="../../assets/img5.png" alt="share" class="img5">
        </div>
    </div>
    
    <div class="terms">
        <span class="terms-text">Privacy Terms of Service Cookie Notice</span>
    </div>
</div>

</div>
<!-- conatiner-3 -->
 <!-- conatinner 4 -->
